# Terraform
.terraform/

terraform.tfstate
terraform.tfstate.backup
*.tfstate.*

terraform.tfvars
*.auto.tfvars

*.tfplan
tfplan

crash.log
crash.*.log

# AWS / SSH credentials
*.pem
*.ppk

# IDE / OS files
.DS_Store
.idea/
.vscode/
*.swp